@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  font-family: "Poppins";
  color: #fff;
}

header {
  grid-area: header;
  background-color: #210f37;
  text-align: center;
  border: 0.2rem solid #000;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5px;
  gap: 5px;
}

article {
  border: 0.2rem solid #000;
  background-color: #4f1c51;
  padding: 0.5rem;
}

article h2 {
  font-size: clamp(1.1rem, 2.5vw, 3rem);
}

article p {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

aside {
  display: none;
  grid-area: aside;
  background-color: #a55b4b;
  border-right: 0.2rem solid #000;
  border-left: 0.2rem solid #000;
}

aside.active {
  display: block;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

li {
  list-style: none;
}

li a {
  color: #fff;
  text-decoration: none;
}

.fa-arrow-left {
  font-size: 29px;
}

#show-users-btn {
  background: #4f1c51;
  border: 2px solid #fff;
  color: #fff;
  display: flex;

  align-items: center;
  padding: 0.2rem;
  font-size: 20px;
  gap: 1rem;
  margin: 0.5rem;
}

#show-users-btn:hover {
  background-color: #a55b4b;
}

#show-users-btn:active {
  transition: transform 0.3s ease-in-out; /* Smooth animation */
}
.fa-arrow-left {
  transition: transform 0.3s ease-in-out; /* Smooth animation */
}
.rotate {
  transform: scaleX(-1);
  transition: transform 0.3s ease-in-out;
}

footer {
  grid-area: footer;
  background-color: #210f37;
  text-align: center;
  border: 0.2rem solid #000;
  padding: 1rem;
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
}
