* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Grid */
.grid {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 0 auto;
  grid-template-rows: auto 1fr auto;
  font-family: "Poppins", Arial, sans-serif;
}

header {
  grid-area: header;
  text-align: center;
  display: inline-grid;
  justify-content: space-between;
  align-items: end;
}

.title {
  grid-area: 1 / 1 / 2 / 3;
  font-family: "Open Sans";
}

.title a {
  text-decoration: none;
  cursor: pointer;
}

/* Btn */
#show-users-btn {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  gap: 0.3rem;
  margin: 0.5rem;
  grid-area: 1 / 1 / 2 / 2;
  cursor: pointer;
}

li:active,
#show-users-btn:active {
  transition: transform 0.3s ease-in-out;
  transform: scale(0.95);
}

.fa-arrow-left {
  transition: transform 0.3s ease-in-out;
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}

.rotate {
  transform: scaleX(-1);
  transition: transform 0.3s ease-in-out;
}

/* Font sizes */
header a {
  font-size: clamp(2.3rem, 6vw, 6rem);
}

#show-users-btn {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}
article h2 {
  font-size: clamp(1.1rem, 2vw, 2.5rem);
}

li a,
article p {
  font-size: clamp(0.8rem, 1vw, 1.5rem);
}

/* Color */
#main-users,
#show-users-btn,
aside {
  background-color: #697565;
}

header a,
#show-users-btn,
.grid,
li a,
article h2 {
  color: #fff;
}

.title a:hover {
  color: #697565;
}

.grid,
article:hover,
#show-users-btn:hover,
li:hover {
  background-color: #3c3d37;
}

header,
footer {
  background-color: #181c14;
}

/* Boarder */
header,
aside,
article,
footer,
#show-users-btn {
  border: 0.1rem solid #fff;
}

/* Aside Navigation */
aside {
  margin: 5px;
  visibility: hidden;
  opacity: 0;
  grid-area: aside;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateX(-100%);
  width: 300px;
}

aside.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

#nav-users {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

#nav-users li {
  list-style: none;
}

#nav-users li a {
  padding: 0.5rem;
  text-decoration: none;
}

/* Main */
#main-users {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  margin: 5px;
  gap: 5px;
}

#main-users article {
  cursor: pointer;
  padding: 1rem;
  min-height: 150px;
}

.max-user {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-extended {
  display: none;
}

.user-extended.active {
  display: block;
}

/* Footer */
footer {
  grid-area: footer;
  text-align: center;
  padding: 1rem;
  position: sticky;
  bottom: 0;
}

/* Media */
@media (max-width: 768px) {
  #main-users {
    grid-template-columns: 1fr;
  }
}
